@using Investor.Helpers
@using Investor.Models.Models.NodeLink
@using Investor.Models.PageModels

@inherits UmbracoViewPage<CommentPageModel>

@helper GetRelatedLink(NodeLink node)
{
    var target = node.NewWindow ? "_blank" : null;

    if (node.Type == "internal")
    {
        var rel = Umbraco.TypedContent(node.Link);
        <a href="@rel.Url" title="@node.Caption" target="@target">@node.Caption</a>
    }

    if (node.Type == "internalMedia")
    {
        var rel = Umbraco.TypedMedia(node.Link);
        <a href="@rel.Url" title="@node.Caption" target="@target">@node.Caption</a>
    }

    if (node.Type == "external")
    {
        <a href="@node.Link" title="@node.Caption" target="@target">@node.Caption</a>
    }
}

<div class="newsroom-page-comments-date">
    <span>@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
    <span class="newsroom-page-comments-time">@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
</div>
@Html.Render(Model.Header, @<h3>@Model.Header</h3>)
@Html.Render(Model.Preamble, @<div class="newsroom-page-comments-premable"><p>@Model.Preamble</p></div>)

@if (Model.RelatedDocuments.Any())
{
    <ul class="newsroom-page-comments-links">
        @foreach (var document in Model.RelatedDocuments)
        {            
            <li>@GetRelatedLink(document)</li>
        }
    </ul>
}