@using Investor.Helpers
@using Investor.Models.Extensions
@using Investor.Models.PageModels

@inherits UmbracoViewPage<CommentPageModel>

@{
    var s = Model.RelatedLinks;
    var t = s;
}

<div class="newsroom-page-comments-date">
    <span>@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
    <span class="newsroom-page-comments-time">@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
</div>

@Html.Render(Model.Header, @<h3>@Model.Header</h3>)
@Html.Render(Model.Preamble, @<div class="newsroom-page-comments-premable"><p>@Model.Preamble</p></div>)

@if (Model.RelatedLinks.Any())
{
    <ul class="newsroom-page-comments-links">
        @foreach (var document in Model.RelatedLinks)
        {            
            <li>@Html.RelatedLink(document)</li>
        }
    </ul>
}