@using Investor.Models.PageModels

@inherits UmbracoViewPage<BaseModel>

<nav class="main-navigation" role="navigation">
    <a class="logo" href="/"><img src="~/images/logo.png" alt="investor logo"/></a>
    <ul>
        @foreach (var page in Model.StartPage.Children<BaseModel>().Where(x => x.HideInNavigation == false))
        {
            var activeClass = Model.IsDescendantOrSelf(page)  ? "selected" : "";

            if (activeClass != "")
            {
                <li class="@activeClass"><a href="@page.Url" title="@page.Name">@page.Name</a></li>
            }
            else
            {
                <li><a href="@page.Url" title="@page.Name">@page.Name</a></li>
            }
        }
    </ul>

</nav>

@if (Model.StartPage.AdditionalMenu != null)
{
    <ul class="main-navigation-additional">
        @foreach (var menu in Model.StartPage.AdditionalMenu)
        {
            <li><a href="@menu.Link">@menu.Caption</a></li>
        }
    </ul>
}

<div class="mobile-navigation-section">
    <nav class="mobile-navigation" data-mobile="true">
        <ul>
            <li id="mobile-main-menu" class="menu">
                <a class="ui">
                    <span class="icon"></span>
                    @Umbraco.GetDictionaryValue("System.Menu")
                </a>
                <ul class="options">
                    @foreach (var categoryPage in Model.StartPage.Children<CategoryPageModel>().Where(x => x.HideInNavigation == false))
                    {
                        <li><a href="@categoryPage.Url" title="@categoryPage.Name"><span>@categoryPage.Name</span></a></li>
                    }
                </ul>
            </li>
        </ul>
    </nav>

    <div class="mobile-navigation" data-mobile="true">
        <div id="search">
            <a class="ui">
                <span class="icon"></span>               
            </a>
            <div class="options">
                @*<form class="search-mobile">
                    <input class="search-input-text" placeholder="Search at Investorab.com" type="text" />
                    <input type="submit" value="submit" />
                </form>*@
                @Html.Partial("~/Views/Partials/MobileSearchBox.cshtml")
            </div>
        </div>
    </div>
</div>