@using Investor.Helpers
@using Investor.Models.Extensions
@using Investor.Models.PageModels

@inherits UmbracoViewPage<NoticePageModel>

<div class="newsroom-page-notices-date">
    <span>@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
    <span class="newsroom-page-notices-time">@Model.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
</div>

@Html.Render(Model.Header, @<h3>@Model.Header</h3>)
@Html.Render(Model.Preamble, @<div class="newsroom-page-notices-premable"><p>@Model.Preamble</p></div>)

@if (Model.RelatedLinks.Any())
{
    <ul class="newsroom-page-notices-links">
        @foreach (var link in Model.RelatedLinks)
        {
            <li>@Html.RelatedLink(link)</li>
        }
    </ul>
}