@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var flip = Model.MacroParameters["Flip"].ToString();
    
    IPublishedContent imageLeft = null;
    IPublishedContent imageLeftUrl = null;
    if (!string.IsNullOrWhiteSpace(Model.MacroParameters["ImageLeft"].ToString()))
    {
        imageLeft = Umbraco.TypedMedia(Model.MacroParameters["ImageLeft"].ToString());

        if (imageLeft.GetProperty("Url").HasValue)
        {
            imageLeftUrl = Umbraco.TypedContent(imageLeft.GetProperty("Url").Value.ToString());     
        }
    }

    IPublishedContent imageRight = null;
    IPublishedContent imageRightUrl = null;
    if (!string.IsNullOrWhiteSpace(Model.MacroParameters["ImageRight"].ToString()))
    {
        imageRight = Umbraco.TypedMedia(Model.MacroParameters["ImageRight"].ToString());

        if (imageRight.GetProperty("Url").HasValue)
        {
            imageRightUrl = Umbraco.TypedContent(imageRight.GetProperty("Url").Value.ToString());
        }
    }
}

@if (imageRight == null)
{
    if (imageLeft != null)
    {
        <div class="col-md-12 flexible-push">
            @if (imageLeftUrl != null)
            {
                <a href="@imageLeftUrl.Url" title="@imageLeft.GetProperty("Name").Value.ToString()"><img src="@imageLeft.Url" alt="@imageLeft.GetProperty("Name").Value.ToString()" /></a>
            }
            else
            {
                <img src="@imageLeft.Url" alt="@imageLeft.GetProperty("Name").Value.ToString()" />
            }
        </div>
    }
}

@if (imageLeft == null)
{
    if (imageRight != null)
    {
        <div class="col-md-12 flexible-push">
            @if (imageRightUrl != null)
            {
                <a href="@imageRightUrl.Url" title="@imageRight.GetProperty("Name").Value.ToString()"><img src="@imageRight.Url" alt="@imageRight.GetProperty("Name").Value.ToString()" /></a>
            }
            else
            {
                <img src="@imageRight.Url" alt="@imageRight.GetProperty("Name").Value.ToString()" />
            }            
        </div>
    }
}

@if (imageLeft != null && imageRight != null)
{
    <div class="col-md-12 flexible-push">
        <div class="row">
            
            @if (flip == "0")
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <a href="@if (imageLeftUrl != null)
                                 {
                                     @imageLeftUrl.Url
                                 }" title="@imageLeft.GetProperty("Name").Value.ToString()"><img src="@imageLeft.Url" alt="@imageLeft.GetProperty("Name").Value.ToString()" /></a>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        <a href="@if (imageRightUrl != null)
                                 {
                                     @imageRightUrl.Url
                                 }" title="@imageRight.GetProperty("Name").Value.ToString()"><img src="@imageRight.Url" alt="@imageRight.GetProperty("Name").Value.ToString()" /></a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <a href="@if (imageRightUrl != null)
                                 {
                                     @imageRightUrl.Url
                                 }" title="@imageRight.GetProperty("Name").Value.ToString()"><img src="@imageRight.Url" alt="@imageRight.GetProperty("Name").Value.ToString()" /></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        <a href="@if (imageLeftUrl != null)
                                 {
                                     @imageLeftUrl.Url
                                 }" title="@imageLeft.GetProperty("Name").Value.ToString()"><img src="@imageLeft.Url" alt="@imageLeft.GetProperty("Name").Value.ToString()" /></a>
                    </div>
                </div>
            }

        </div>
    </div>
}

@{
    var rte = Model.MacroParameters["RTE"].ToString();
}
<div>@Html.Raw(Uri.UnescapeDataString(rte))</div>