@using Investor.Helpers
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var header = Model.MacroParameters["Header"].ToString();
    var text = Model.MacroParameters["Text"].ToString();
    var flip = Model.MacroParameters["Flip"].ToString();
    string title = null;
    string alt = null;
    
    IPublishedContent image = null;
    IPublishedContent imageUrl = null;
    if (!string.IsNullOrWhiteSpace(Model.MacroParameters["Image"].ToString()))
    {
        image = Umbraco.TypedMedia(Model.MacroParameters["Image"].ToString());
        title = image.GetProperty("Name").Value.ToString();
        alt = image.GetProperty("Name").Value.ToString();
            
        if (image.GetProperty("Url").HasValue)
        {
            imageUrl = Umbraco.TypedContent(image.GetProperty("Url").Value.ToString());
        }
    }
}

<div class="col-md-12 flexible-push">
    <div class="row">
        
        @if (image == null && !string.IsNullOrWhiteSpace(text))
        {
            <div class="col-md-12">
                <div class="flexible-push-first-column">
                    @Html.Render(header, @<h2>@header</h2>)
                    <div class="text-editor-content">@Html.Raw(Uri.UnescapeDataString(text))</div>
                </div>
            </div>
        }

        @if (image != null && string.IsNullOrWhiteSpace(text))
        {
            <div class="col-md-12">
                <div class="flexible-push-first-column">
                    <a href="@if (imageUrl != null)
                                {
                                    @imageUrl.Url
                                }" title="@title"><img src="@image.Url" alt="@alt" /></a>
                </div>
            </div>
        }

        @if (image != null && !string.IsNullOrWhiteSpace(text))
        {
            if (flip == "0")
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        @Html.Render(header, @<h2>@header</h2>)
                        <div class="text-editor-content">
                            @Html.Raw(Uri.UnescapeDataString(text))
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        <a href="@if (imageUrl != null)
                                {
                                    @imageUrl.Url
                                }" title="@title"><img src="@image.Url" alt="@alt" /></a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <a href="@if (imageUrl != null)
                                {
                                    @imageUrl.Url
                                }" title="@title"><img src="@image.Url" alt="@alt" /></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        @Html.Render(header, @<h2>@header</h2>)
                        <div class="text-editor-content">@Html.Raw(Uri.UnescapeDataString(text))</div>
                    </div>
                </div>
            }
        }

    </div>
</div>