@using Investor.Helpers
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var header = Model.MacroParameters["Header"].ToString();    
    var text = Model.MacroParameters["Text"].ToString();
    IPublishedContent video = null;
    
    if (!string.IsNullOrWhiteSpace(Model.MacroParameters["Video"].ToString()))
    {
        video = Umbraco.TypedMedia(Model.MacroParameters["Video"].ToString());        
    }

    var flip = Model.MacroParameters["Flip"].ToString();
}

<div class="col-md-12 flexible-push">
    <div class="row">        
        @if ((!string.IsNullOrWhiteSpace(header) || !string.IsNullOrWhiteSpace(text)) && video == null)
        {
            <div class="col-md-12">
                <div class="flexible-push-first-column">
                    @Html.Render(header, @<h2>@header</h2>)
                    @Html.Raw(Uri.UnescapeDataString(text))
                </div>
            </div>
        }

        @if (video != null && (string.IsNullOrWhiteSpace(header) || string.IsNullOrWhiteSpace(text)))
        {
            <div class="col-md-12">
                <div class="flexible-push-first-column">
                    <video controls>
                        <source src="@video.Url" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        }

        @if (video != null && !string.IsNullOrWhiteSpace(header) && !string.IsNullOrWhiteSpace(text))
        {
            if (flip == "0")
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        @Html.Render(header, @<h2>@header</h2>)
                        @Html.Raw(Uri.UnescapeDataString(text))
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <video controls>
                            <source src="@video.Url" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <video controls>
                            <source src="@video.Url" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        @Html.Render(header, @<h2>@header</h2>)
                        @Html.Raw(Uri.UnescapeDataString(text))
                    </div>
                </div>
            }
        }     
    </div>
</div>