
@using Investor.Helpers
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var header = HttpUtility.HtmlDecode(Model.MacroParameters["Header"].ToString());
    var investorsAndMediaNode = Umbraco.TypedContent(Model.MacroParameters["HeaderUrl"].ToString());
    var contacts = Model.MacroParameters["Contacts"].ToString();

    var c = contacts;
    
}

<div class="investors-and-media">
    
    @Html.Render(header, @<div class="investors-and-media-header">
        <h2>
            <a href="@investorsAndMediaNode.Url" title="@header" >@header</a>
        </h2>
    </div>)

    <div class="investors-and-media-content">
        @*<h3>Latest reports</h3>
        <ul class="investors-and-media-latest-reports">
            <li>
                <a href="#">
                    <span class="investors-and-media-latest-reports-icon"></span>
                    <span class="investors-and-media-date">2016/04/21</span>
                    <span class="investors-and-media-time">08:15</span>
                    <span class="investors-and-media-latest-reports-document">Interim Management Statement January-March 2016</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="investors-and-media-latest-reports-icon"></span>
                    <span class="investors-and-media-date">2016/04/21</span>
                    <span class="investors-and-media-time">08:15</span>
                    <span class="investors-and-media-latest-reports-document">Investor ABs Annual Report 2015</span>
                </a>
            </li>
        </ul>*@
        @*<h3>Investor share</h3>
        <ul class="investors-and-media-share">
            <li>
                <a href="#">
                    <span class="investors-and-media-date">2016/04/21</span>
                    <span class="investors-and-media-time">08:15</span>
                    <span class="investors-and-media-share-status">Investor A 0<span>%</span> 290.30</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="investors-and-media-date">2016/04/21</span>
                    <span class="investors-and-media-time">08:15</span>
                    <span class="investors-and-media-share-status">Investor B 0<span>%</span> 290.30</span>
                </a>
            </li>
        </ul>*@

        @foreach (var contact in contacts)
        {
            <h3>Contact</h3>
            <ul class="investors-and-media-contact">
                <li>
                   
                </li>
                <li>
                    <a href="#">
                        @contact.Name
                    </a>
                </li>
            </ul>
        }        
    </div>
</div>