@using umbraco.NodeFactory
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var ourInvestmentsPageId = Model.MacroParameters["OurInvestments"].ToString();
    var ourInvestmentsPage = new Node(int.Parse(ourInvestmentsPageId));
    var investments = ourInvestmentsPage.ChildrenAsList.Where(x => x.NodeTypeAlias == "ListInvestmentsPageModel");    
}

<div class="col-md-6">
    <div class="our-investments">
        <div class="our-investments-header">
            <span class="our-investments-icon"></span>
            <h2>
                <a href="@ourInvestmentsPage.NiceUrl">@ourInvestmentsPage.Name</a>
            </h2>
        </div>
        <ul class="our-investments-content">
            @foreach (var investment in investments)
            {
                <li>
                    <a href="@investment.NiceUrl">
                        <span>@investment.Name</span>
                        @if (investment.GetProperty("preamble") != null)
                        {
                            <p>@investment.GetProperty("preamble").ToString()</p>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
</div>