@using Investor.Helpers
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var ourInvestmentsPage = Umbraco.TypedContent(Model.MacroParameters["OurInvestments"].ToString());
}


<div class="our-investments">
    <div class="our-investments-header">
        <h2>
            <a href="@ourInvestmentsPage.Url">@ourInvestmentsPage.Name</a>
        </h2>
    </div>
    <ul class="our-investments-list">
        @foreach (var investment in ourInvestmentsPage.Children.OrderBy(x => x.SortOrder))
        {
            var preamble = investment.GetProperty("preamble").Value;
                
            <li>
                <a href="@investment.Url">
                    @Html.Render(investment.Name, @<span>@investment.Name</span>)
                    @Html.Render(preamble, @<p>@preamble</p>)
                </a>
            </li>                
        }
    </ul>
</div>
