@using umbraco.NodeFactory
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@*@{
    var ourInvestmentsPageId = Model.MacroParameters["OurInvestments"].ToString();
    var ourInvestmentsPage = new Node(int.Parse(ourInvestmentsPageId));
    var investments = ourInvestmentsPage.ChildrenAsList.Where(x => x.NodeTypeAlias == "ListInvestmentsPageModel");    
}

<div class="col-md-6">
    <div class="our-investments">
        <div class="our-investments-header">
            <span class="our-investments-icon"></span>
            <h2>
                <a href="@ourInvestmentsPage.NiceUrl">@ourInvestmentsPage.Name</a>
            </h2>
        </div>
        <ul class="our-investments-content">
            @foreach (var investment in investments)
            {
                <li>
                    <a href="@investment.NiceUrl">
                        <span>@investment.Name</span>
                        @if (investment.GetProperty("preamble") != null)
                        {
                            <p>@investment.GetProperty("preamble").ToString()</p>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
</div>*@


@{
    var content = Umbraco.TypedContent(Model.MacroParameters["OurInvestments"].ToString());
    var media = Umbraco.TypedMedia(Model.MacroParameters["Image"].ToString());
    var relatedLinks = Model.MacroParameters["RelatedLinks"].ToString();
    var s = relatedLinks;
}

<div>
    <p>content = @content.Url</p>
    <p>media = @media.Url</p>
    <p>relatedLinks = @relatedLinks</p>
</div>

@*{
    <p>@media.GetProperty("heading").Value.ToString()</p>
    <p>@media.GetProperty("text").Value.ToString()</p>
    <p><a href="@(Umbraco.NiceUrl(media.GetPropertyValue<int>("url")))">@media.GetProperty("urlText").Value.ToString()</a></p>
    <img src="@media.Url" alt="@media.GetProperty("heading").Value.ToString()" />
}*@
