@using umbraco.NodeFactory
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var ourInvestmentsPageId = Model.MacroParameters["OurInvestments"].ToString();
    var ourInvestmentsPage = new Node(int.Parse(ourInvestmentsPageId));
    var investments = ourInvestmentsPage.ChildrenAsList.Where(x => x.NodeTypeAlias == "ListInvestmentsPageModel");    
}

<div>
    <h2><a href="@ourInvestmentsPage.NiceUrl">@ourInvestmentsPage.Name</a></h2>

    @foreach (var investment in investments)
    {
        <a href="@investment.NiceUrl">@investment.Name</a>
                
        if (investment.GetProperty("preamble") != null)
        {
            <span>@investment.GetProperty("preamble").ToString()</span>
        }
    }
</div>