@using Investor.Abstraction.Pressreleases
@using Investor.Models.PageModels
@using StructureMap
@using UCodeFirst
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage
              
@{
    var pressReleaseRepository = ObjectFactory.GetInstance<IPressReleaseRepository>();
    var startPage = Model.Content.ToStrongContent().AncestorOrSelf<StartPageModel>();
    var pressReleaseUrl = startPage.PressReleasesNode;    
}

<div class="press-releases">
    <div class="press-releases-header">
        @if (Model.MacroParameters["Heading"] != null)
        {
            <h2>
                @if (pressReleaseUrl != null)
                {
                    <a href="@pressReleaseUrl.Url">@(Model.MacroParameters["Heading"].ToString())</a>
                }
            </h2>
        }
    </div>

    @if (pressReleaseUrl != null)
    {
        <ul class="press-releases-list">
            @foreach (var pressRelease in pressReleaseRepository.GetPressReleases())
            {
                <li>
                    <a href="@pressReleaseUrl.Url?id=@pressRelease.Id">
                        <span class="press-releases-date">@pressRelease.Published.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
                        <span class="press-releases-time">@pressRelease.Published.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
                        <span class="press-releases-link-text">@pressRelease.Headline</span>
                    </a>
                </li>
            }
        </ul>
    }
</div>