@using System.Web.Script.Serialization
@using Investor.Helpers
@using Investor.Models.Extensions
@using Investor.Models.Models.NodeLink
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var heading = Model.MacroParameters["Heading"].ToString();
    var headingUrl = Model.MacroParameters["HeadingUrl"].ToString();
    var preamble = Model.MacroParameters["Preamble"].ToString();
    var relatedLinks = Model.MacroParameters["RelatedLinks"].ToString().Replace("&quot;", "\""); //todo: fråga robert
    var links = new JavaScriptSerializer().Deserialize<IEnumerable<NodeLink>>(relatedLinks);    
}

<div class="related-links">
    <div class="related-links-header">
        <h2>
            <a href="@Umbraco.TypedContent(headingUrl).Url">@heading</a>
        </h2>
    </div>
    <div class="related-links-content">
        @Html.Render(preamble, @<p>@preamble</p>)

        <ul class="related-links-list">
            @foreach (var link in links)
            {
                <li>@Html.RelatedLink(link)</li>
            }
        </ul>
    </div>
</div>