@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@foreach (var media in Umbraco.TypedMedia(Model.MacroParameters["Slideshow"].ToString().Split(',')))
{
    <p>@media.GetProperty("heading").Value.ToString()</p>
    <p>@media.GetProperty("text").Value.ToString()</p>
    <p><a href="@(Umbraco.NiceUrl(media.GetPropertyValue<int>("url")))">@media.GetProperty("urlText").Value.ToString()</a></p>
    <img src="@media.Url" alt="@media.GetProperty("heading").Value.ToString()" />
}