@using Investor.Models.Models.NodeLink

@helper GetRelatedLink(NodeLink node)
{
    var target = node.NewWindow ? "_blank" : null;

    @*if (node.Type == "internal")
    {
        var rel = Umbraco.TypedContent(node.Link);
        <a href="@rel.Url" title="@node.Caption" target="@target">@node.Caption</a>
    }

    if (node.Type == "internalMedia")
    {
        var rel = Umbraco.TypedMedia(node.Link);
        <a href="@rel.Url" title="@node.Caption" target="@target">@node.Caption</a>
    }

    if (node.Type == "external")
    {
        <a href="@node.Link" title="@node.Caption" target="@target">@node.Caption</a>
    }*@
}