@using Investor.Models.PageModels
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@inherits UmbracoViewPage<ArticlePageModel>

<div>
    <h1>@Model.Header</h1>
    <p>@Model.Body</p>
</div>

@if (Model.RelatedLinks != null)
{
    <div>
        <ul>
            @foreach (var link in Model.RelatedLinks)
            {
                var target = link.NewWindow ? "_blank" : null;

                <li><a href="@link.Link" target="@target" title="@link.Caption">@link.Caption</a></li>
            }
        </ul>
    </div>
}

<div>
    <ul>
        @*@if (Model.RelatedDocuments != null)
        {
            foreach (var document in Model.RelatedDocuments)
            {
                @*var target = link.NewWindow ? "_blank" : null;

                <li><a href="@link.Link" target="@target" title="@link.Caption">@link.Caption</a></li>*@
            }
        }*@
    </ul>
</div>