@using Investor.Helpers
@using Investor.Models.Extensions
@using Investor.Models.PageModels
@using MediaExtensions = Investor.Models.Extensions.MediaExtensions

@inherits UmbracoViewPage<ArticlePageModel>

@{
    Layout = "Master.cshtml";

    var docs = Model.RelatedDocuments.ToList();
    
   

    var d = docs[0];
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")

    <article class="article-page col-md-9">
        <div class="row">
            <div class="article-page-content col-md-9">
                @Html.Render(Model.Header, @<h1 class="article-page-header">@Model.Header</h1>)
                @Html.Render(Model.Preamble, @<p class="article-page-premable">@Model.Preamble</p>)
                @Html.Render(Model.Text, @<div class="article-page-body">@Html.Raw(Model.Text)</div>)
            </div>
            <div class="col-md-3">

                @if (Model.RelatedLinks != null)
                {
                    <div class="article-page-links">
                        <h3>
                            <span class="icon"></span>@Model.RelatedLinksHeader
                        </h3>
                        <ul>
                            @foreach (var link in Model.RelatedLinks)
                            {
                                var target = link.NewWindow ? "_blank" : null;

                                <li><a href="@link.Link" target="@target" title="@link.Caption">@link.Caption</a></li>
                            }
                        </ul>
                    </div>
                }

                @if (docs[0] != null) {
                    <div class="article-page-documents">
                        <h3>
                            <span class="icon"></span>@Model.RelatedDocumentsHeader
                        </h3>
                        <ul>
                            @foreach (var document in Model.RelatedDocuments)
                            {
                                if (document != null)
                                {
                                    var doc = MediaExtensions.GetMediaById(document.Id.ToString());

                                    <li><a href="@doc.FriendlyUrl()" title="@doc.Name">@Path.GetFileNameWithoutExtension(doc.Name)</a></li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </article>
</div>