@using Investor.Models.PageModels

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage<CategoryPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="category-page">
    <div class="row">
        <div class="category-page-intro col-md-7">
            <h1>@Model.Header</h1>
            <p>@Model.Preamble</p>
        </div>
    </div>

    <div class="row">
        @foreach (var page in Model.Children<ArticlePageModel>())
        {
            <div class="category-page-category col-md-4 col-sm-4">
                @*@if (page.ImageForPush != null)
                {
                    <p><img src="@Umbraco.TypedMedia(page.ImageForPush)" alt="@page.Name" /></p>
                }*@
                <h2>
                    <a href="@page.Url" title="@page.Name">@page.Name</a>
                </h2>

                <p>@page.PushText</p>

                @if (page.RelatedLinksForPush != null)
                {
                    <span>@page.RelatedLinksForPushHeader</span>
                    <ul>
                        @foreach (var link in page.RelatedLinksForPush)
                        {
                            <li>
                                <a href="@link.Link" title="@link.Caption">@link.Caption</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    </div>
</div>