@using Investor.Models.PageModels

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage<CategoryPageModel>

@{
    Layout = "Master.cshtml";
}

<div>
    <h1>@Model.Header</h1>
    <p>@Model.Preamble</p>
</div>

<div>
    @foreach (var page in Model.Children<ArticlePageModel>())
    {
        <p><a href="@page.Url" title="@page.Name">@page.Name</a></p>
        <p>@page.PushText</p>
        
        if (page.RelatedLinksForPush != null)
        {
            foreach (var link in page.RelatedLinksForPush)
            {
                <p><a href="@link.Link" title="@link.Caption">@link.Caption</a></p>
            }
        }
    }
</div>