@using Investor.Helpers
@using Investor.Models.PageModels

@inherits UmbracoViewPage<CoWorkerPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")
    <article class="co-worker-page col-md-7 col-sm-12">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image.Url" alt="@Model.Name" />
                }
            </div>
            <div class="co-worker-page-content col-md-5 col-sm-5">
                @Html.Render(Model.Name, @<h1>@Model.Name</h1>)
                @Html.Render(Model.Position, @<span>Position: @Model.Position</span>)
                @Html.Render(Model.Phone, @<p>@Umbraco.GetDictionaryValue("System.Contact.Phone"): @Model.Phone</p>)
                @Html.Render(Model.Mobile, @<p>@Umbraco.GetDictionaryValue("System.Contact.Mobile"): @Model.Mobile</p>)
            </div>
        </div>
    </article>
</div>