@using Investor.Helpers
@using Investor.Models.PageModels

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage<CoWorkersListPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")
    <article class="co-workers-list-page col-md-7">
        <h1>@Model.CurrentPage.Name</h1>
        <div class="text-editor-content">
            @Html.Raw(Model.Text)            
        </div>
        <ul class="row">
            @foreach (var coworker in Model.Children<CoWorkerPageModel>())
            {
                <li class="co-worker col-md-3 col-sm-3">
                    <a href="@coworker.Url" alt="@coworker.Name">
                        @if (coworker.Image != null)
                        {
                            <img src="@coworker.Image.Url" alt="@coworker.Name" />
                        }
                        
                        @Html.Render(coworker.Name, @<span class="co-worker-name">@coworker.Name</span>)
                        @Html.Render(coworker.Position, @<span class="co-worker-position">@coworker.Position</span>)
                    </a>
                </li>
            }            
        </ul>
    </article>
</div>