@using Investor.Helpers
@using Investor.Models.PageModels

@inherits UmbracoViewPage<InvestmentPageModel>

@{
    Layout = "Master.cshtml";
}

@functions
{
    protected string GetPreviousUrl()
    {
        var parent = Model.Parent<BaseModel>();
        var list = parent.Children<InvestmentPageModel>();
        string url;

        if (!Model.IsFirst())
        {
            var prevNode = Model.Previous<InvestmentPageModel>();

            if (prevNode == null)
            {
                // this is the last node of InvestmentPageModel im going to create a Model.IsLast<T>() later but for now we roll like this
                url = list.Last().Url;
            }
            else
            {
                url = prevNode.Url;
            }
        }
        else
        {
            url = list.Last().Url;
        }

        return url;
    }

    protected string GetNextUrl()
    {
        var parent = Model.Parent<BaseModel>();
        var list = parent.Children<InvestmentPageModel>();
        string url;

        if (!Model.IsLast())
        {
            var prevNode = Model.Next<InvestmentPageModel>();

            if (prevNode == null)
            {
                // this is the last node of InvestmentPageModel im going to create a Model.IsLast<T>() later but for now we roll like this
                url = list.First().Url;
            }
            else
            {
                url = prevNode.Url;
            }
        }
        else
        {
            url = list.First().Url;
        }

        return url;
    }
}

<article class="investment-page">
    <div class="row">
        <div class="col-md-12 investment-page-next-previous">
            <a class="previous" href="@GetPreviousUrl()">@Umbraco.GetDictionaryValue("System.Investment.PreviousInvestment")</a> |
            <a class="next link" href="@GetNextUrl()">@Umbraco.GetDictionaryValue("System.Investment.NextInvestment")</a>
        </div>
    </div>
    <div class="row investment-page-intro">
        <div class="col-md-7 col-sm-6">
            @Html.Render(Model.Header, @<h1> @Model.Header </h1>)
            @Html.Render(Model.Preamble, @<p class="@Model.ColorDropdown">@Model.Preamble</p>)
        </div>
        <div class="col-md-5 col-sm-6 investment-page-logo">
            @Html.Render(Model.Image, @<img src="@Model.Image.Url" alt="@Model.Header"/>)
        </div>
    </div>
    <article class="row">
        <div class="text-editor-content col-md-7">
            @Html.Raw(Model.Text)
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 investment-page-facts">
            @Html.Render(Model.FactsWebsite, @<a class="investment-page-facts-link" href="@Model.FactsWebsite" title="@Model.FactsWebsite" target="_blank">@Model.FactsWebsiteHeader</a>)
            <div class="investment-page-facts-info">
                @Html.Render(Model.FactsWebsite, @<h2 class="@Model.ColorDropdown">@Model.FactsHeader</h2>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Office"):</h3>
                @Html.Render(Model.FactsOffice, @<span>@Model.FactsOffice</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Listed"):</h3>
                @Html.Render(Model.FactsListed, @<span>@Model.FactsListed</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Business"):</h3>
                @Html.Render(Model.FactsBusinessArea, @<span>@Model.FactsBusinessArea</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Share"):</h3>
                @Html.Render(Model.FactsShare, @<span>@Model.FactsShare</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Ownership"):</h3>
                @Html.Render(Model.FactsOwnership, @<span>@Model.FactsOwnership</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Year"):</h3>
                @Html.Render(Model.FactsInvestment, @<span>@Model.FactsInvestment</span>)
                <h3>@Umbraco.GetDictionaryValue("System.Investment.Board"):</h3>
                @Html.Render(Model.FactsBoard, @<span>@Model.FactsBoard</span>)
            </div>
        </div>
    </article>
</article>