@using Investor.Helpers
@using Investor.Models.Extensions
@using Investor.Models.PageModels.Interfaces

@inherits UmbracoViewPage<INews>

@{
   Layout = "Master.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")

    <article class="article-page col-md-9">
        <div class="row">
            <div class="article-page-content col-md-9">
                @Html.Render(Model.Header, @<h1>@Model.Header</h1>)
                <div>
                    <span class="article-page-date">
                        @Model.AlternativeDateTime.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))
                    </span>
                    <span class="article-page-time">
                        @Model.AlternativeDateTime.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))
                    </span>
                </div>                
                @Html.Render(Model.Preamble, @<p class="article-page-premable">@Model.Preamble</p>)                
            </div>
            <div class="col-md-3">
                @if (Model.RelatedLinks.Any())
                {
                    <div class="article-page-links">
                        <h3>
                            @Model.RelatedLinksHeader
                        </h3>
                        <ul>                            
                            @foreach (var item in Model.RelatedLinks.Take(5))
                            {
                                <li>@Html.RelatedLink(item)</li>
                            }
                        </ul>
                        @if (Model.RelatedLinks.Count() > 5)
                        {
                            <ul class="article-page-links-expandable">
                                @foreach (var link in Model.RelatedLinks.Skip(5))
                                {
                                    <li>
                                        @Html.RelatedLink(link)
                                    </li>
                                }
                            </ul>
                            <button class="article-page-links-expand-btn">
                                <span class="article-page-links-expandable-closed active">@Umbraco.GetDictionaryValue("System.Read.All")</span>
                                <span class="article-page-links-expandable-open">@Umbraco.GetDictionaryValue("System.Read.Less")</span>
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
    </article>
</div>