@using Investor.Helpers
@using Investor.Models.PageModels

@inherits UmbracoTemplatePage
@inherits UmbracoViewPage<NewsroomPageModel>

@{
	Layout = "Master.cshtml";
    var colClass = "col-md-6";

    if (!Model.GetNotices().Any() || !Model.GetComments().Any())
    {
        colClass = "col-md-12";
    }
}

<article class="row newsroom-page">
    <div class="col-md-12 newsroom-page-intro">
        @Html.Render(Model.Header, @<h1>@Model.Header</h1>)
        @Html.Render(Model.Preamble, @<p>@Model.Preamble</p>)
    </div>

    @if (Model.GetComments().Any())
    {
        <div class="@colClass">
            <div class="newsroom-page-comments">
                @Html.Render(Model.CommentsHeader, @<h2>@Model.CommentsHeader</h2>)

                @if (Model.GetComments() != null)
                {
                    <ul>
                        @foreach (var comment in Model.GetComments().Take(5))
                        {
                            <li class="newsroom-page-comments-comment">
                                @Html.Partial("~/Views/Partials/Comment.cshtml", comment)
                            </li>
                        }
                    </ul>
                    if (Model.GetComments().Count() > 5)
                    {
                        <ul class="newsroom-page-comments-expandable expandable-list-container">
                            @foreach (var comment in Model.GetComments().Skip(5))
                            {
                                <li class="newsroom-page-comments-comment">
                                    @Html.Partial("~/Views/Partials/Comment.cshtml", comment)
                                </li>
                            }
                        </ul>
                        <button class="newsroom-page-comments-expand-btn expandable-list-btn">
                            <span class="newsroom-page-comments-expandable-closed expandable-list-closed active">@Umbraco.GetDictionaryValue("System.Documents.All")</span>
                            <span class="newsroom-page-comments-expandable-open expandable-list-open">@Umbraco.GetDictionaryValue("System.Documents.Less")</span>
                        </button>
                    }
                }
            </div>
        </div>
    }

    @if (Model.GetNotices().Any())
    {
        <div class="@colClass">
            <div class="newsroom-page-notices">
                @Html.Render(Model.NoticesHeader, @<h2>@Model.NoticesHeader</h2>)

                @if (Model.GetNotices() != null)
                {
                    <ul>
                        @foreach (var notice in Model.GetNotices().Take(5))
                        {
                            <li class="newsroom-page-notices-notice">
                                @Html.Partial("~/Views/Partials/Notice.cshtml", notice)
                            </li>
                        }
                    </ul>
                    if (Model.GetNotices().Count() > 5)
                    {
                        <ul class="newsroom-page-notices-expandable expandable-list-container">
                            @foreach (var notice in Model.GetNotices().Skip(5))
                            {
                                <li class="newsroom-page-notices-notice">
                                    @Html.Partial("~/Views/Partials/Notice.cshtml", notice)
                                </li>
                            }
                        </ul>
                        <button class="newsroom-page-notices-expand-btn expandable-list-btn">
                            <span class="expandable-list-closed active">@Umbraco.GetDictionaryValue("System.News.All")</span>
                            <span class="expandable-list-open">@Umbraco.GetDictionaryValue("System.News.All")</span>
                        </button>
                    }
                }
            </div>
        </div>
    }
</article>
<script type="text/javascript">$(listExpand.init())</script>