@using Investor.Helpers
@using Investor.Models.PageModels

@inherits UmbracoTemplatePage
@inherits UmbracoViewPage<NewsroomPageModel>

@{
	Layout = "Master.cshtml";
}

<article class="row newsroom-page">
    <div class="col-md-12 newsroom-page-intro">
        @Html.Render(Model.Header, @<h1>@Model.Header</h1>)
        @Html.Render(Model.Preamble, @<span>@Model.Preamble</span>)
    </div>

    <div class="col-md-6">
        <div class="newsroom-page-comments">
            @Html.Render(Model.CommentsHeader, @<h2>@Model.CommentsHeader</h2>)

            @foreach (var comment in Model.GetComments())
            {
                <div class="newsroom-page-comments-comment">
                    <div class="newsroom-page-comments-date">
                        <span>@comment.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
                        <span class="newsroom-page-comments-time">@comment.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
                    </div>
                    @Html.Render(comment.Header, @<h3>@comment.Header</h3>)
                    @Html.Render(comment.Preamble, @<span>@comment.Preamble</span>)

                    @foreach (var document in comment.RelatedDocuments)
                    {
                        <a href="@document.Url" title="@document.Name">@Path.GetFileNameWithoutExtension(document.Name)</a>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-md-6">
        <div class="newsroom-page-notices">
            @Html.Render(Model.NoticesHeader, @<h2>@Model.NoticesHeader</h2>)

            @foreach (var notice in Model.GetNotices())
            {
                <div class="newsroom-page-notices-notice">
                    <div class="newsroom-page-notices-date">
                        <span>@notice.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.DateFormat"))</span>
                        <span class="newsroom-page-notices-time">@notice.CreateDate.ToString(Umbraco.GetDictionaryValue("System.Language.TimeFormat"))</span>
                    </div>
                    @Html.Render(notice.Header, @<h3>@notice.Header</h3>)
                    @Html.Render(notice.Preamble, @<span>@notice.Preamble</span>)

                    @foreach (var link in notice.RelatedLinks)
                    {
                        <a href="@link.Link" title="@link.Caption">@link.Caption</a>
                    }
                </div>
            }
        </div>
    </div>
</article>