@using umbraco.interfaces
@using Investor.Models.PageModels

@inherits UmbracoViewPage<SitemapPageModel>

@{
    Layout = "Master.cshtml";
}

@helper Traverse(INode node)
{
    var children = node.ChildrenAsList.Where(x => x.GetProperty("hideInSitemap").Value == "0" || !x.GetProperty("metaForRobots").Value.Contains("nofollow")).ToList(); //.Where(x => x.GetProperty("hideInSitemap") == 0 && !x.GetPropertyValue("metaForRobots").Contains("nofollow")).ToList();

    if (children.Any())
    {
        <ul>
            @foreach (var child in children)
            {
                <li>
                    <a href="@child.Url">@child.Name</a>
                    @Traverse(child)
                </li>
            }
        </ul>
    }
}

<article class="row sitemap-page">
    <div class="col-md-12">
        <h1>@Model.StartPage.Name</h1>

        <ul class="sitemap-page-list">
            <li><a href="@Model.StartPage.Url">@Model.StartPage.Name</a></li>
            @Traverse(Model.Node.GetAncestorByPathLevel(1))
        </ul>
    </div>
</article>

<!--Markup/Style-->
@*<article class="row sitemap-page">
        <div class="col-md-12">
            <h1>@Model.StartPage.Name</h1>
            <ul class="sitemap-page-list">
                <li><a href="">Bacon ipsum</a></li>
                <li><a href="">Bacon ipsum</a></li>
                <li>
                    <ul>
                        <li><a href="">Bacon ipsum</a></li>
                        <li><a href="">Bacon ipsum</a></li>
                        <li>
                            <ul>
                                <li><a href="">Bacon ipsum</a></li>
                                <li>
                                    <ul>
                                        <li><a href="">Bacon ipsum</a></li>
                                        <li><a href="">Bacon ipsum</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>*@